<h1>GRADES</h1>
<h2>Settings</h2>

<h3>Manage periods</h3>
<div class="periods">
    <div class="first-period">
        <label for="">First period</label>
        <form id="first-period-form" action="" method="post" style="display: none;">
            <label for="">Start date</label>
            <input type="date" name="start-date-first-period" id="start-date-first-period">
            <label for="">End date</label>
            <input type="date" name="end-date-first-period" id="end-date-first-period">
            <div class="button-section">
                <button onclick="setPeriod('first-period')" type="button">Submit</button>
                <button onclick="cancelPeriod('first-period-form', 'first-period-button')" type="button">Cancel</button>
            </div>
        </form>
        <p>{{periods[0][0]}} - {{periods[0][1]}}</p>

        <div class="edit-section">
            <button id="first-period-button" type="button" onclick="showPeriodSection('first-period-form', event.target.id)">Edit first period</button>
        </div>
    </div>

    <div class="second-period">
        <label for="">Second period</label>
        <form id="second-period-form" action="" method="post" style="display: none;">
            <label for="">Start date</label>
            <input type="date" name="start-date-second-period" id="start-date-second-period">
            <label for="">End date</label>
            <input type="date" name="end-date-second-period" id="end-date-second-period">
            <div class="button-section">
                <button onclick="setPeriod('second-period')" type="button">Submit</button>
                <button onclick="cancelPeriod('second-period-form', 'second-period-button')" type="button">Cancel</button>
            </div>
        </form>
        <p>{{periods[1][0]}} - {{periods[1][1]}}</p>

        <div class="edit-section">
            <button id="second-period-button" type="button" onclick="showPeriodSection('second-period-form', event.target.id)">Edit second period</button>
        </div>
    </div>
</div>

<h3>Manage subjects and their objectives</h3>
<div class="subject-list">
    <table>
        <tbody>
        {% for subject, objective in subjects %}
        <tr>
            <td><label id="{{subject}}" for="">{{subject}}</label></td>
            <td><button type="button" onclick="deleteSubject('{{subject}}')">Delete</button></td>
            <td><button type="button" onclick="renameSubject('{{subject}}')">Rename</button></td>
            <td><button type="button" onclick="setObjective('{{subject}}')">Set objective</button></td>
        </tr>
        <tr>
            <td colspan="4"><label for="">Objective: {{objective}}</label></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>