<h1>GRADES</h1>

<h2>Your stats</h2>

<h3>Objectives</h3>
<!--
<select name="" id="period-choice-objectives">
    <option value="first">First period</option>
    <option value="second">Second period</option>
</select> -->
<div class="objectives-section">
    <p>You've reached completely the objective for {{number['completely reached']}} subject out of {{subject_number}}</p>
    <p>You've reached the objective for {{number['reached']}} subject out of {{subject_number}} (if the average is rounded)</p>
    <p>You've not reached the objective for {{number['almost reached']}} subject out of {{subject_number}} but you're not so far (only a point of distance)</p>
    <p>You've not reached the objective for {{number['not reached']}} subject out of {{subject_number}}</p>
    <p>We don't have enough data for {{number['not enough data']}} subject out of {{subject_number}}</p>
</div>

<h3>Average grade during time</h3>
<!--
<select name="" id="period-choice-average-graph">
    <option value="first">First period</option>
    <option value="second">Second period</option>
</select> -->
<div>
    <canvas id="average-grade-over-time" width="800" height="400"></canvas>
</div>
<span data-value="{{general_average}}" id="general-average"></span>

<h3>Grades Distribution: How many times a grade appears</h3>
<!--
<select name="" id="period-choice-grade-graph">
    <option value="all">All</option>
    <option value="first">First period</option>
    <option value="second">Second period</option>
</select> -->
<div class="grade-graph-bar">
    <canvas id="bar-grade-graph" width="400px" height="200px"></canvas>
</div>
<span data-value="{{grade_bar}}" id="grade-bar"></span>
